.container{
    color:#fff;
}

.ul{
    padding:0px;
    margin-bottom:100px;
}

.li{
    background-color: #352f2f;
    list-style:none;
    display: inline-block;
    margin-right: 20px;
    padding: 8px;
    border-radius: 15px;
}
li::after{
    border-right: 1px solid #fff;
}
.title{
    position: relative;
}

.detail__top{
    text-align: center;
    background-size:cover;
}
.detail__top img{
    z-index: 2;
    top:100px;
    position: relative;
    box-shadow: -5px 5px 25px 3px rgb(51 51 51)

}

.detail__bottom {
    margin-top: 150px;
    left:15%;
    position:absolute;
}

.overview{
    width: 800px;
}

.vote_average{
    margin-left: 15px;
    color: gold;
}
.runtime{
    margin-left : 10px;
}