.link{
    color:#000;
    text-decoration: none;
    display: inherit;
}

.movie__average {
    position: relative;
    color: gold;
}

.movie__title {
    margin: 5px 0px 5px;
    overflow: hidden;
    font-weight: lighter;
    color: #fff;
    font-size: 15px;
    text-align:start
}


#movie {
    display: flex;
    border-radius: 15px;
    width: 200px;
    margin: 10px;
}

.movie__poster {
    margin: 10px;
    width: 160px;
}

.content{
    padding: 0 20px 25px;
}
