.search__container{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    padding-left: 100px;
    margin: 100px auto;
}

.search__container img{
    -webkit-box-reflect: unset;
    border-radius: 5px;
    box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
}

.search__container h4{
    height: auto;
}

.input__box {
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

.input {
    width: 50%;
    height: 30px;
    font-size: 20px;
    padding: 10px 10px;
    border: none;
    outline: none;
    background: black;
    border-bottom: 1px solid rgb(142, 26, 26);
    color: #fff;
}

.search__find{
    text-align: center;
    font-size: 20px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}